<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Spencer</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	<aware_of_modules>
        <aware_of_module version="2.2">org.openmrs.module.htmlformentry</aware_of_module>
 	</aware_of_modules>
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.FormAccessControlActivator</activator>
	
	<!-- Adds link to form edit page -->
	<extension>
		<point>org.openmrs.admin.forms.formHeader</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.FormHeaderExt</class>
	</extension>
	
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.api.advice.FormServiceAdvisor</class>
	</advice>
	
	<advice>
		<point>org.openmrs.api.UserService</point>
		<class>@MODULE_PACKAGE@.api.advice.UserServiceAdvice</class>
	</advice>
	
	<advice>
		<point>org.openmrs.api.ObsService</point>
		<class>@MODULE_PACKAGE@.api.advice.ObsServiceAdvice</class>
	</advice>
	
	<advice>
		<point>org.openmrs.api.EncounterService</point>
		<class>@MODULE_PACKAGE@.api.advice.EncounterServiceAdvisor</class>
	</advice>
	
	<advice>
		<point>org.openmrs.module.htmlformentry.HtmlFormEntryService</point>
		<class>@MODULE_PACKAGE@.api.advice.HtmlFormEntryServiceAdvisor</class>
	</advice>
	
	<privilege>
		<name>Manage Form Access Control</name>
		<description>Able to manage and configure form access controls</description>
	</privilege>
	
	<privilege>
		<name>View Form Access Control</name>
		<description>Able to view form access controls</description>
	</privilege>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>				
		FormAccessControl.hbm.xml				
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

